footer{
    border-top: 1px solid #ccc;
    padding: 48px 0 20px;
    margin: 0 auto;
    align-self: start;
    width: 100%;
}

.footerTop{
    margin: 0 auto;
    max-width: 1400px;
    display: flex;
    margin-bottom: 2rem;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 20px;
}

.footerTopLeft{
    display: flex;
    gap: 16px;
    justify-items: center;
    align-items: center;
    font-size: 1.3rem;
    color: var(--color-primary);
    font-weight: lighter;
}

.footerbottom{
    margin: 0 auto;
    max-width: 1400px;
    padding: 10px 20px;
    display: flex;
    gap: 20px;
}

.footerNav{
    display: flex;
    color: #000;
    font-size: 14px;
    gap: 20px;
    flex-wrap: wrap;
    padding-left: 0;
}

.footerNav li{
    list-style: none;
}

.footerNav li a{
    color: #000;
}

.footerNav li a:hover{
    color: var(--color-primary);
    font-weight: 800;
} 

.footer-action-link{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 30px;
    font-size: .875rem;
    font-weight: 500;
    text-align: center;
}

.footer-copyright-tag{
    font-size: 14px;
}

@media screen and (max-width:768px){
    footer{
        padding: 32px 0 18px;
    }

    .footerTop{
        flex-direction: column;
        gap: 24px;
        margin-bottom: 1.5rem;
        align-items: center;
    }

    .footerTopLeft{
        align-items: center;
        font-size: 1.05rem;
    }

    .footerTopRight,
    .footerTopRight button,
    .footer-action-link{
        width: fit-content;
        border-radius: 12px;
    }

    .footerNav{
        gap: 10px;
        padding-left: 0;
        align-items: center;
        justify-content: center;
    }
    .footerbottom{
        flex-direction: column;
        align-items: center;
    }
    
    .footerbottom p{
        font-weight: 800;
    }
    
}
